<app-navbar></app-navbar>

<app-scroll-to-top></app-scroll-to-top>

<section class="main">
    <div class="container mycontainer">
        <div class="col-md-7 col-md-offset-1 d-flex justify-content-center">
            <app-card></app-card>
            <br>
            <br>
            <app-card></app-card>
            <br>
            <br>
            <app-card></app-card>
            <br>
            <br>
        </div>
        <div class="col-md-4">
            <app-messenger></app-messenger>
        </div>
    </div>
</section>