<app-navbar></app-navbar>

<app-scroll-to-top></app-scroll-to-top>

<div class="main">
  <div>
    <div id="image-name">
      <img
        src="../../assets/userAvatar.jpeg"
        alt="user avatar"
        *ngIf="router.url === '/musicianprofile' || router.url === '/profile'"
      />
      <img
        src="https://media.istockphoto.com/photos/bartender-wearing-apron-and-smiling-picture-id1194844600?k=6&m=1194844600&s=612x612"
        alt="user avatar"
        *ngIf="router.url === '/establishmentprofile'"
      />
      <h1
        *ngIf="router.url === '/musicianprofile' || router.url === '/profile'"
      >
        Juan Lessa
      </h1>
      <h1 *ngIf="router.url === '/establishmentprofile'">
        João Batista's Place
      </h1>
    </div>
    <p>Esta é minha bio exemplo para ocupar espaço.</p>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Posts">
      <button *ngIf="router.url === '/profile'" (click)="newPost()">
        new post
      </button>
      <br /><br />
      <div class="col-md-6 col-md-offset-1 d-flex justify-content-center">
        <app-card></app-card>
        <br />
        <br />
        <app-card></app-card>
      </div>
      <mat-tab
        label="Musics"
        *ngIf="router.url === '/musicianprofile' || router.url === '/profile'"
      >
        <div id="posts">
          <button *ngIf="router.url === '/profile'" (click)="newPost()">
            new song
          </button>
          <div class="col-md-7 col-md-offset-1 d-flex justify-content-center">
            <app-music-card></app-music-card>
          </div>
        </div>
      </mat-tab>
      <div
        class="container mycontainer"
        *ngIf="
          router.url === '/musicianprofile' ||
          router.url === '/establishmentprofile'
        "
      >
        <div id="mensagix" class="col-md-4" *ngIf="bigMx">
          <app-messenger></app-messenger>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Events">
      <button *ngIf="router.url === '/profile'" (click)="newPost()">
        new event
      </button>
      <app-event-card></app-event-card>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- The Modal -->
<div id="newPostModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeNewPost()">&times;</span>
    <form>
      <label for="description">Description</label>
      <textarea name="description" id="" cols="30" rows="4"></textarea>
      <div>
        <label for="media"><p>drag here your media content</p></label>
        <div name="media" id="box"><p>+</p></div>
      </div>
      <button (click)="post()" type="submit">post!</button>
    </form>
  </div>
</div>
