<app-navbar></app-navbar>

<app-scroll-to-top></app-scroll-to-top>

<div class="main">
  <div>
    <div id="image-name">
      <img src="../../assets/userAvatar.jpeg" alt="user avatar" />
      <h1>Juan Lessa</h1>
    </div>
    <p>Esta é minha bio exemplo para ocupar espaço.</p>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Musicas">
      <div id="posts">
        <div class="col-md-7 col-md-offset-1 d-flex justify-content-center">
          <app-music-card></app-music-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Posts">
      <button>new post</button>
      <app-card></app-card>
      <br />
      <br />
      <app-card></app-card>
      <br />
      <br />
      <app-card></app-card>
      <br />
      <br />
    </mat-tab>

    <mat-tab label="Third"> Conteúdo 3 </mat-tab>
  </mat-tab-group>
</div>

<!-- The Modal -->
<div id="newPost" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>new post content</p>
  </div>
</div>
