<app-navbar></app-navbar>

<app-scroll-to-top></app-scroll-to-top>

<div class="main">
  <div>
    <div id="image-name">
      <img src="../../assets/userAvatar.jpeg" alt="user avatar" />
      <h1>Juan Lessa</h1>
    </div>
    <p>Esta é minha bio exemplo para ocupar espaço.</p>
  </div>
  <div id="posts">
    <div class="col-md-7 col-md-offset-1 d-flex justify-content-center">
      <button>new post</button>
      <app-music-card></app-music-card>
      <app-event-card></app-event-card>
      <app-card></app-card>
      <br />
      <br />
      <app-card></app-card>
      <br />
      <br />
      <app-card></app-card>
      <br />
      <br />
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="newPost" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>new post content</p>
  </div>
</div>
