<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{examplePost.username}}</mat-card-title>
      <mat-card-subtitle>{{examplePost.smldescription}}</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" style="margin-bottom: 8px;"src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div class="icons-row">
        <button aria-label="favourite" class="btn-style icon" (click)="elementdisable = !elementdisable"><mat-icon>{{elementdisable ? 'favorite_border' : 'favorite'}}</mat-icon></button>
        <span>
        <button aria-label="share" class="btn-style"><mat-icon>share</mat-icon></button>
        </span>
        <span class="push-right">
          <button aria-label="sended" class="btn-style"><mat-icon>send</mat-icon></button>
        </span>
      </div>
      <p>
        {{examplePost.description}}
      </p>
    </mat-card-content>
  </mat-card>
  