<mat-card id="messenger-card" onscroll="myfunc(e)">
    <div id="men-header">
        <img class="mensagix-icon" src="../../assets/chat_icon-icons.com_67748.svg" alt="mensagix">
        <h4 class="mensagix-header">Mensagix</h4>
    </div>
    <hr class="hrrr" noshade="true">
    <div class="men-contacts">
        <app-messengercontact></app-messengercontact>
        <app-messengercontact></app-messengercontact>
        <app-messengercontact></app-messengercontact>
        <app-messengercontact></app-messengercontact>
        <app-messengercontact></app-messengercontact>
        <app-messengercontact></app-messengercontact>
        <app-messengercontact></app-messengercontact>
    </div>
</mat-card>
