<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<!-- Top navigation -->
<div id="navbar">
  <a href="#default" id="logo">MusicHUB</a>
  <a href="#home" class="active">Home</a>
  <a href="#about">Musicians</a>
  <a href="#contact">Establishments</a>
  <div id="navbar-right">
    <a href="#contact"><span class="glyphicon glyphicon-bell"></span></a>
    <a href="#contact"><span class="glyphicon glyphicon-send"></span></a>
    <a href="#contact"><span class="glyphicon glyphicon-user"></span></a>
    <a href="#contact"><span class="glyphicon glyphicon-log-out"></span></a>
  
  </div>
</div>